.campaign-title{
    -fx-font-size: 2em;
    -fx-text-fill: -text-primary;
}

#dashBoardLabel{
    -fx-text-fill: -label;
}

.HBox{
    -fx-background-color: -primary;
    -fx-text-fill: -secondary;
}

.check-box{
    -fx-text-fill: -text-primary;
}

.scroll-pane{
    -fx-background-color: -primary;
}

#leftVBox{
    -fx-background-color: -secondary;

}

#genderLabel{
    -fx-text-fill: -text-primary;
}

#ageLabel{
    -fx-text-fill: -text-primary;
}

#incomeLabel{
    -fx-text-fill: -text-primary;
}

#contextLabel{
    -fx-text-fill: -text-primary;
}

#filterLabel{
    -fx-text-fill: -text-primary;
}

#graphVBox{

    -fx-background-color: -primary;
}

#blueSeparator{

    -fx-border-color: #3b57a5;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}