.root{
    -main-bg-color: #f9f9f9;
    -secondary-bg-color: #7e7f9a;
    -primary: #f9f9f9;
    -secondary: #7e7f9a;
    -text-primary: black;
    -text-secondary: #7e7f9a;
    -success: #55CF5A;
    -error: red;
    -fx-background-color: -main-bg-color;
    -fx-font-size: 12px;
    -fx-text-fill: -text-secondary;
    -label: #5bc0be;
    -icons: #7e7f9a;
    -card: #5bc0be;

}


.primary{
    -fx-color: -primary;
}


.btn-primary{

    -fx-border-color: -text-primary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: -secondary;
    -fx-text-fill: -text-primary;
}

.btn-primary:hover{

    -fx-border-color: -text-primary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: -text-primary;
    -fx-text-fill: #7e7f9a;
}

.text-primary{
    -fx-text-fill: -text-primary;
}

.btn-submit{
    -fx-background-color: -success;
    -fx-text-fill: -text-primary;
}

.card{
    -fx-background-color: -card;
    -fx-background-radius: 15%;
    -fx-border-radius: 15%;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.card-corners{
    -fx-background-color: -card;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.page-title{
    -fx-effect: null;
    -fx-text-fill: -text-primary;
    -fx-font-size: 2em;
}

.chart-plot-background{
    -fx-background-color:  -card;
}
.axis{
    -fx-tick-label-fill: black;

}

.card .label{
    -fx-text-fill: -text-primary;
}