.root{
    -main-bg-color: #1b262c;
    -primary: #0f4c75;
    -secondary: #bbe1fa;
    -text-primary: #3282b8;
    -text-secondary: #bbe1fa;
    -success: #55CF5A;
    -error: red;
    -fx-background-color: -main-bg-color;
    -fx-font-size: 12px;
    -fx-text-fill: -text-secondary;

}
.primary{
    -fx-color: -primary;
}
.btn-primary{
    -fx-background-color: -primary;
    -fx-text-fill: -secondary;
}

.text-primary{
    -fx-text-fill: -text-primary;
}

.text-secondary{
    -fx-text-fill: -text-secondary;
}

.btn-submit{
    -fx-background-color: -success;
    -fx-text-fill: -secondary;
}

.card{
    -fx-background-color: white;
    -fx-background-radius: 15%;
    -fx-border-radius: 15%;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: black;
}

.card-corners{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: black;
}

.card .label{
    -fx-text-fill: -main-bg-color;
}
.card-corners .label{
    -fx-text-fill: -main-bg-color;
}

.chart-plot-background{
    -fx-background-color:  white;
}
.axis{
    -fx-tick-label-fill: -main-bg-color;
}

.page-title{
    -fx-effect: null;
    -fx-text-fill: -text-primary;
    -fx-font-size: 2em;
}