.root{
    -main-bg-color: #F2F4F4;
    -primary: #5988FF;
    -secondary: white;
    -text-primary: #5988FF;
    -text-secondary: #63788F;
    -success: #55CF5A;
    -error: red;
    -fx-background-color: -main-bg-color;
    -fx-font-size: 12px;
    -fx-text-fill: -text-secondary;

}
.primary{
    -fx-color: -primary;
}
.btn-primary{
    -fx-background-color: -primary;
    -fx-text-fill: -secondary;
}

.text-primary{
    -fx-text-fill: -text-primary;
}

.btn-submit{
    -fx-background-color: -success;
    -fx-text-fill: -secondary;
}

.card{
    -fx-background-color: -secondary;
    -fx-background-radius: 15%;
    -fx-border-radius: 15%;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.card-corners{
    -fx-background-color: -secondary;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.page-title{
    -fx-effect: null;
    -fx-text-fill: -text-primary;
    -fx-font-size: 2em;

}