.root{
    -main-bg-color: #f9f9f9;
    -secondary-bg-color: #5988FF;
    -primary: #f9f9f9;
    -secondary: #5988FF;
    -text-primary: #5988FF;
    -text-secondary: #63788F;
    -success: #55CF5A;
    -error: red;
    -fx-background-color: -main-bg-color;
    -fx-font-size: 12px;
    -fx-text-fill: -text-secondary;
}

.primary{
    -fx-color: -primary;
}
.btn-primary{

    -fx-border-color: -primary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: -secondary;
    -fx-text-fill: -primary;
}

.btn-primary:hover{

    -fx-border-color: -primary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: -primary;
    -fx-text-fill: #63788F;
}

.text-primary{
    -fx-text-fill: -text-primary;
}

.btn-submit{
    -fx-background-color: -success;
    -fx-text-fill: -secondary;
}

.card{
    -fx-background-color: -primary;
    -fx-background-radius: 15%;
    -fx-border-radius: 15%;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.card-corners{
    -fx-background-color: -primary;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.page-title{
    -fx-effect: null;
    -fx-text-fill: -text-primary;
    -fx-font-size: 2em;
}


